/* Add CSS styling here */
/*css reset*/
*html, body, div, span, applet, object, iframe,  
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
  a, abbr, acronym, address, big, cite, code,  
  del, dfn, em, img, ins, kbd, q, s, samp,  
  small, strike, strong, sub, sup, tt, var,  
  b, u, i, center,  
  dl, dt, dd, ol, ul, li,  
  fieldset, form, label, legend,  
  table, caption, tbody, tfoot, thead, tr, th, td,  
  article, aside, canvas, details, embed,  
  figure, figcaption, footer, header, hgroup,  
  menu, nav, output, ruby, section, summary,  
  time, mark, audio, video 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
html{font-size: 62.5%;
}
body{
  font-size:2rem;
  line-height: 1;
  widows: 90%;
  margin:auto;
  color:#FFF5EE;
  font-family: times;
  background-color:#2F4F4F;
  
}
header{
  display:flex;
  flex-direction: row;
  justify-content:center;
  width:100%;
  height:15rem;
  border:3px solid black;
  background:#696969;
  margin-bottom:1px ;
}

links{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
}
.main{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  padding:1rem;
  margin:1rem;
  border:5rem;
  background:#808080; 
}
.button1{
  display:flex;
justify-content:center;
}
h2{text-align:center;}

.aboutme{text-align:center;
padding:10px;}
span{color:blueviolet}

.images{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-content:space-around;
  padding:1rem;
  margin:20px;
  border:20px;
  width:100%;
  background: #778899
  ;}
footer{
  display:flex;
  justify-content:center;
  background:#D3D3D3;
  color:#708090;
  }
button{background:#F0E68C
  ;
text-align:center;}